body{
    color: #000000;
    font-family: 'lato', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 24.84px */



}

.container{
    width: 1115px;
    margin: 0 auto;
}

.flex{
    display: flex;

}

.half-width{
    width: 50%;
}

.wrp-padding{
    padding: 0 0 0 15px;
}

.display-none{
    display: none;
}

.header{
    padding: 23px 0 31px 0;
}

.header-title{
    color: #005FA3;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 138.27%; /* 49.777px */
}

.header-contact-text{
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 132%; /* 17.16px */
}

.header-contact-link{
    text-decoration: none;
}

.header-nav-link{
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.desc{
    padding: 170px 0;
    background-color: #191E22;
    background-image: url(../img/Rectangle.png);

}

.desc-title{
    margin: 0 0 131px;
}

.desc-title, .desc-link {
    color: #FFF;

    /* h1 */
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.27%; /* 66.37px */
    

}

.desc-link{
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 138%; /* 34.5px */
    background: #005FA3;
    width: 333px;
    min-height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services{
    background: #EBEBEB;
    padding: 140px 0;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item:nth-of-type(n+4){
    margin: 30px 0 0;
}



.section-title{
    color: #BDBDBD;
    font-family: Lato, serif;

    /* h2 */
    font-size: 24px;
    font-weight: 900;
    line-height: 138%; /* 33.12px */

}

.section-subtitle{
    color: #333;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
    margin: 48px 0 102px;
}

.section-subtitle-inform{
    margin: 40px 0 60px;
}



.clients{
    background-color: #EBEBEB;
    padding: 85px 0 92px;
}

.clients-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item-link{
    background-image: url("../img/Rectangle 2 13131313.png");
    background-size: cover;
    text-decoration: none;
    width: 350px;
    min-height: 360px;
    display: flex;
    padding: 45px;
    box-sizing: border-box;
    align-items: flex-end;

}

.service-item-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 126%; /* 30.24px */

}

.review-button{
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    font-height: inherit;
    background:  #005FA3;
    border: none;

    width: 270px;
    min-height: 60px;

}

.review-slider-button{
    width: 10px;
    height: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;

}



.review-slider-arrow{
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    border: 0;
    padding: 0;


}
.review-slider-button-active{
    opacity: 1;

}

.review-item{
    background: #EBEBEB;
    padding: 45px 95px;
}

.review-item-text{
    color: #000000;
    margin: 0 0 58px;
}

.review-item-author{
    color: #000000;
    font-weight: 900;
}

.review-item-position{
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;

}

.company{
    background: #F9F9F9;
    padding: 140px 0;
}

.section-subtitle-company{
    color: #333;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.section-subtitle-company-name{
    color:  #005FA3;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%;
}

.section-text{
    color: #000;
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 138%; /* 24.84px */
    width: 445px;
}

.about-item{
    background: #EBEBEB;
    width: 255px;
    min-height: 255px;
    padding: 30px 40px 40px;
    box-sizing: border-box;
}

.about-item:nth-of-type(n+3){
    margin: 30px 0 0 0;
}

.about-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-list-number{
    color: #000;
    font-family: Lato, serif;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 6px;
    width: 75px;
    min-height: 54px;

}

.section-list-text{
    color: #000;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 132%; /* 18.48px */
    margin: 30px 0 0 0;

}

.section-list-case{
    color:  #005FA3;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
    display: block;
    margin: 47px 0 0 0 ;
}

.advantage{
    background-color: #EBEBEB;
    padding: 102px 0 115px;
}

.advantage-list{
    display: flex;
    justify-content: space-between;
}

.advantage-item{
    width: 348px;
    min-height: 316px;
    padding: 80px 0 37px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.advantages{
    color: #000;
    font-family: Lato, serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 132%; /* 47.52px */
}

.advantages-subtitle{
    margin: 40px 0 27px;
}

.connection{
    color:  #FFF;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */

}

.desc-footer{
    background-color: #161616;
    background-image: url(../img/Rectangle.png);

}

.footer-wrp{
    padding: 122px 0 140px;
}

.question{
    color: #FFF;
    font-family: Lato, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 24.84px */
    margin: 60px 0 80px;
    letter-spacing: 0.6px;

    width: 445px;
    min-height: 43px;
}

.contact-inform{
    color:  #FFF;
    font-family: Lato, serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 28.98px */

}

.button{
    color: #FFF;
    text-align: center;
    font-family: Lato, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 24.84px */
    background: #005FA3;
    border: none;
}

.review{
    padding: 174px 0  120px ;
}

.bottom-part{
    color: #000;
    font-family: Lato, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 19.32px */
}

.footer-company{
    background: #F9F9F9;
    padding: 50px 0;

}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.form-contact-wrp{
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px;
}

.input-label{
    display: block;
    color: #FFF;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 138%; /* 22.08px */
    margin: 4px 0 15px;
}

input{
    width: 255px;
    padding: 0 0 15px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    font-family: inherit;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 28.98px */
    color: #FFFFFF;
}

textarea{
    padding: 0 0 15px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    width: 100%;
    min-height: 105px;
    box-sizing: border-box;
    margin: 0 0 50px;
    font-family: inherit;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 28.98px */
}