body{
    color: #000000;
}

.header-title{
    color: #005FA3;
}

.header-contact-text{
    color: #000000;
}

.header-contact-link{
    text-decoration: none;
}

.header-nav-link{
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
}

.desc{
    background-color: #191E22;
    background-image: url(../img/Rectangle.svg);
}

.desc-title, .desc-link {
    color: #FFF;

}

.desc-link{
    text-decoration: none;
}

.services{
    background-color: #EBEBEB;
}

.section-title{
    color: #BDBDBD;
}

.section-subtitle{
    color: #333;
}

.service-item-title{
    color: #FFF;

}