body{
    color: #000000;
    font-family: 'lato', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 24.84px */



}

.header-title{
    color: #005FA3;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 138.27%; /* 49.777px */
}

.header-contact-text{
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 132%; /* 17.16px */
}

.header-contact-link{
    text-decoration: none;
}

.header-nav-link{
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.desc{
    background-color: #191E22;
    background-image: url(../img/Rectangle.svg);
}

.desc-title, .desc-link {
    color: #FFF;

    /* h1 */
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.27%; /* 66.37px */
    

}

.desc-link{
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    line-height: 138%; /* 34.5px */
}

.services{
    background-color: #EBEBEB;
}

.section-title{
    color: #BDBDBD;
    font-family: Lato, serif;

    /* h2 */
    font-size: 24px;
    font-weight: 900;
    line-height: 138%; /* 33.12px */
}

.section-subtitle{
    color: #333;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.service-item-link{
    background-image: url("../img/Rectangle 2.jpg");
    text-decoration: none;

}

.service-item-title{
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 126%; /* 30.24px */

}

.review-button{
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;

}

.review-item-text{
    color: #000000;
}

.review-item-author{
    color: #000000;
    font-weight: 900;
}

.review-item-position{
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;

}

.company{
    background: #F9F9F9;
}

.section-subtitle-company{
    color: #333;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.section-subtitle-company-name{
    color:  #005FA3;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%;
}

.section-text{
    color: #000;
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 138%; /* 24.84px */
}

.section-list-number{
    color: #000;
    font-family: Lato, serif;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 5.5px;
}

.section-list-text{
    color: #000;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 132%; /* 18.48px */
}

.section-list-case{
    color:  #005FA3;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.advantages{
    color: #000;
    font-family: Lato, serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 132%; /* 47.52px */
}

.connection{
    color:  #FFF;
    font-family: Merriweather, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 144.555%; /* 69.386px */
}

.question{
    color: #FFF;
    font-family: Lato, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 24.84px */
}

.contact-inform{
    color:  #FFF;
    font-family: Lato, serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 28.98px */
}

.bottom-part{
    color: #000;
    font-family: Lato, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 138%; /* 19.32px */
}